@font-face{
  font-family: 'hollow';
  src: url('../font/Pokemon\ Hollow.ttf') format('truetype');
}
@font-face{
  font-family: 'solid';
  src: url('../font/Pokemon\ Solid.ttf') format('truetype');
}

*, 
*::before, 
*::after{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  padding: 0;
  margin: 0;
  background: #00000038;
}

h1{
  text-align: center;
  font-size: 4em;
  font-family: "solid";
  color: rgb(37, 94, 148);
  text-shadow: -2px 0 #ffd900, 0 2px #ffd900, 2px 0 #ffd900, 0 -2px #ffd900;
}

.external{
  margin: 2% 5%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgb(214, 3, 3);
  border: 10px solid rgba(255, 1, 1, 0.438);
  border-radius: 20px;
  width: 90%;
  height: 1000px;
}

.left-side,
.right-side{
  border: 10px solid rgba(255, 0, 0, 0.479);
  border-radius: 10px;
  margin: 1%;
  width: 50%;
  height: 100%;
}

.right-side{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

#search-bar{
  width: 100%;
  height: 100%;
  border: none;
  background: #000000;
  color: rgb(216, 216, 216);
  font-size: 2em;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-align: center;
}